@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
   width: 100%;
}

 body {
    overflow-x: hidden;
 }

 @font-face {
   font-family: 'FirsNeueMedium';
   src: url('/public/fonts/TT-Firs-Neue-Trial-Medium.ttf') format('.ttf');
   font-style: normal;
 }

 .firs-medium {
   font-family: 'FirsNeueMedium';
 }

 @font-face {
   font-family: 'FirsNeueBold';
   src: url('/public/fonts/TT-Firs-Neue-Trial-Bold.ttf') format('.ttf');
   font-style: normal;
 }

 .firs-bold {
   font-family: 'FirsNeueBold' serif;
 }